body#gsr.hp.vasq {
  background-image: url("https://res.cloudinary.com/thetripguru/image/upload/v1496739391/backgrounds/castle-banner.jpg");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
  font-weight: bold;
  font-size: 35px;
}
